{% extends "base.html" %}

{% block pageContent %}

<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Set password</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" >
                <div class="form-group">
                {{ form.password.label }}
                {{ form.password(autocomplete="new-password", class_='form-control ')}}
                {% for error in form.password.errors %}
                    <p>{{error}}</p>
                {% endfor %}
                </div>
                <div style="float:right;">
                    {{ form.csrf_token }}
                    <a href="{{url_for('indexBP.indexView')}}">Cancel</a> &nbsp
                    <input type="submit" class="btn btn-primary" tabindex="1" value="OK">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
