{% extends "base.html" %}

{% block title %}User profile{% endblock %}

{% block pageContent %}

<div class="col col-10 col-sm-7 col-md-6 col-lg-4 col-xl-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{contentTitle|safe}}</h3>
        </div>
        <div class="panel-body">
            <form method="post" name="userForm" id="userForm">

                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class_='form-control ')}}
                    {% for error in form.name.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class_='form-control')}}
                    {% for error in form.email.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.phone.label }}
                    {{ form.phone(class_='form-control ')}}
                    {% for error in form.phone.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.groups.label }}
                    {{ form.groups(class_='form-control')}}
                    {% for error in form.groups.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                {{ form.role.label }}
                <div class="radio">
                    {{ form.role()}}
                    {% for error in form.role.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                {% if noLocked == False %}
                {{ form.locked.label }}
                <div class="radio">
                    {{ form.locked() }}
                </div>
                {% endif %}


                <div style="float:right;">
                    {{ form.csrf_token }}
                    <a href="{{url_for('userBP.userView')}}">Cancel</a> &nbsp
                    <input type="submit" class="btn btn-primary" tabindex="1" value="Save changes">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
