{% extends "bootstrap/base.html" %}

{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css')}}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
    {% include "topNav.html" %}
    </div>

    <div class="row">
        <div class="container-fluid">
            <div class="col col-12" style="max-width:600px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category[0] }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>{{ category[1] }}</h4>
                {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="col col-12">
    {% block pageContent %}{% endblock %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript" src="/static/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('select').select2({
            width: '100%'
        });
    </script>

{% endblock %}
