{% extends "bootstrap/base.html" %}

{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block styles %}
{{super()}}
<!--    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar-fixed-side.css')}}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
{{nav.top.render()}}

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='myscripts.js')}}"></script>

{% endblock %}
