{% extends "base.html" %}

{% block title %}This is an example page{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<script type="text/javascript">
$(document).ready(function() {
    var oTable =  $('#dataTable').DataTable(
        {
            "info": false,
            "paging": false,
            "columns":
                        [
                            {% for row in listColumns %}
                                null,
                            {% endfor %}

                            {% if not withoutDetailsButton %}
                                { "orderable": false },
                            {% endif %}

                            {% if not withoutEditButton %}
                                 { "orderable": false },
                            {% endif %}

                            {% if not withoutDeleteButton %}
                                 { "orderable": false },
                            {% endif %}

                            {% if not withoutNewButton %}
                                 { "orderable": false },
                            {% endif %}
                        ]
        }
    );

    $('#myInputTextField').keyup(function(){
      oTable.search($(this).val()).draw() ;
    } );
} );

</script>
{% endblock %}

{% block pageContent %}
<div class="panel panel-default" style="max-width:{{maxDataTableWidth}}px;min-width:{{minDataTableWidth}}px">
    <div class="panel-heading row" style="margin-right:0px;margin-left:0px;">
        <div class="col col-xs-6 col-sm-6 col-md-9">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="col col-xs-6 col-sm-6 col-md-3">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">Search</span>
                <input type="text" class="form-control" id="myInputTextField" aria-describedby="sizing-addon3">
                <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="dataTable" class="table table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                {% for c in listColumns %}
                    <th>{{ c|safe }}</th>
                {% endfor %}

                {% if not withoutDetailsButton %}
                    <th class="tableButtons"></th>
                {% endif %}

                {% if not withoutEditButton %}
                    <th class="tableButtons"></th>
                {% endif %}

                {% if activateButton %}
                    <th class="tableButtons"></th>
                {% endif %}

                {% if lockButton %}
                    <th class="tableButtons"></th>
                {% endif %}

                {% if not withoutDeleteButton %}
                    <th class="tableButtons"></th>
                {% endif %}

                {% if not withoutNewButton %}
                    <th class="tableButtons">
                        <a href="{{ request.path }}/new">
                            <i class="fa fa-plus" data-toggle="tooltip" title="Add row"></i>
                        </a>
                    </th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for row in listData %}
                <tr>
                    {% for column in row[1:] %}
                        {% if column is iterable and column is not string %}
                            <td>
                                {% for r in column %}
                                    {{r}} <br>
                                {% endfor %}
                            </td>
                        {% else %}
                            <td>{{ column|safe }}</td>
                        {% endif %}
                    {% endfor %}

                    {% if not withoutNewButton %}
                        <td class="tableButtons"></td>
                    {% endif %}

                    {% if not withoutDetailsButton %}
                        <td class="tableButtons">
                            <form name="rowDetails{{row[0]}}" action="{{ request.path }}/details/{{row[0]}}" class="rowDetails" method="post">
                                <input type='hidden' class="updateButton" type="submit" value="Update">
                            </form>
                            <a href="#" onclick="document.forms['rowDetails{{row[0]}}'].submit(); return false;">
                                <i class="fa fa-search" data-toggle="tooltip" title="View row details"></i>
                            </a>
                        </td>
                    {% endif %}

                    {% if not withoutEditButton %}
                        <td class="tableButtons">
                            <form name="editRow{{row[0]}}" action="{{ request.path }}/edit/{{row[0]}}" class="editRow" method="post">
                                <input type='hidden' class="updateButton" type="submit" value="Edit">
                            </form>
                            <a href="#" onclick="document.forms['editRow{{row[0]}}'].submit(); return false;">
                                <i class="fa fa-pencil" data-toggle="tooltip" title="Edit row"></i>
                            </a>
                        </td>
                    {% endif %}
                    {{row[lockIndex]}}
                    {% if lockButton %}
                        {% if 'minus' in row[lockIndex] %}
                        <td class="tableButtons">
                            <form name="lockRow{{row[0]}}" action="{{ request.path }}/lock/{{row[0]}}" class="lockRow" method="post">
                                <input type='hidden' class="updateButton" type="submit" value="lock">
                            </form>
                            <a href="#" onclick="document.forms['lockRow{{row[0]}}'].submit(); return false;">
                                <i class="fa fa-unlock" data-toggle="tooltip" title="Lock row"></i>
                            </a>
                        </td>
                        {% else %}
                        <td class="tableButtons">
                            <form name="unlockRow{{row[0]}}" action="{{ request.path }}/unlock/{{row[0]}}" class="unlockRow" method="post">
                                <input type='hidden' class="updateButton" type="submit" value="unlock">
                            </form>
                            <a href="#" onclick="document.forms['unlockRow{{row[0]}}'].submit(); return false;">
                                <i class="fa fa-lock" data-toggle="tooltip" title="Unlock row"></i>
                            </a>
                        </td>
                        {% endif %}
                    {% endif %}

                    {% if activateButton %}
                        {% if 'check' in row[activeIndex] %}
                            <td class="tableButtons">
                                <form name="deactivateRow{{row[0]}}" action="{{ request.path }}/deactivate/{{row[0]}}" class="deactivateRow" method="post">
                                    <input type='hidden' class="updateButton" type="submit" value="deactivate">
                                </form>
                                <a href="#" onclick="document.forms['deactivateRow{{row[0]}}'].submit(); return false;">
                                    <i class="fa fa-times-circle-o" data-toggle="tooltip" title="Deactivate row"></i>
                                </a>
                            </td>
                        {% else %}
                            <td class="tableButtons">
                                <form name="activateRow{{row[0]}}" action="{{ request.path }}/activate/{{row[0]}}" class="activateRow" method="post">
                                    <input type='hidden' class="updateButton" type="submit" value="activate">
                                </form>
                                <a href="#" onclick="document.forms['activateRow{{row[0]}}'].submit(); return false;">
                                    <i class="fa fa-bolt" data-toggle="tooltip" title="Activate row"></i>
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}

                    {% if not withoutDeleteButton %}
                        <td class="tableButtons">
                            <form name="deleteRow{{row[0]}}" action="{{ request.path }}/delete/{{row[0]}}" class="deleteRow" method="post">
                                <input type='hidden' class="updateButton" type="submit" value="Edit">
                            </form>
                            <a href="#" data-toggle="modal" data-target=".deleteModal{{row[0]}}">
                                <i class="fa fa-times" data-toggle="tooltip" title="Delete row"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% include 'modal/deleteModal.html' %}
<script type="text/javascript">
    function confirm_click(){ return confirm("Are you sure ?");}
</script>

{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
{% endblock %}
