{% set parentNav = [
    (['Superuser','Administrator'], 'fa-cog', 'fa-chevron-down', 'Settings'),
    (['Administrator'], 'fa-cog', 'fa-chevron-down', 'Masterdata'),
    (['Administrator', 'Superuser'], 'fa-cog', 'fa-chevron-down', 'Supporting Data'),
] -%}

{% set childNav = [
    (['Superuser','Administrator'], 'userBP.userView', 'User management', 'Settings', 'fa-user'),
    (['Superuser','Administrator'], 'userBP.groupView', 'User / Email Groups', 'Settings', 'fa-users'),

    (['Administrator'], 'mdBP.regionView', 'Regions', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.subRegionView', 'Sub Regions', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.countryView', 'Countries', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.zoneView', 'Zones', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.statusView', 'Status', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.treatmentTypeView', 'Treatment Types', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.riskResponseView', 'Risk Responses', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.eventTypeView', 'Event Types', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.severityView', 'Severities', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.likelihoodView', 'Likelihoods', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.causingFactorTypeView', 'Causing Factor Types', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.processAreaView', 'Process Areas', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.riskAreaView', 'Risk Areas', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.riskTypeView', 'Risk Types', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.valueChainAreaView', 'Value Chain Areas', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.valueChainStepTypeView', 'Value Chain Step Types', 'Masterdata', 'fa-'),
    (['Administrator'], 'mdBP.deliveryPointView', 'Delivery Points', 'Masterdata', 'fa-'),

    (['Superuser','Administrator'], 'causingFactorBP.causingFactorView', 'Causing Factors', 'Supporting Data', 'fa-'),
    (['Superuser','Administrator'], 'valueChainBP.valueChainView', 'Value Chain', 'Supporting Data', 'fa-'),
    (['Superuser','Administrator'], 'treatmentBP.treatmentView', 'Treatment', 'Supporting Data', 'fa-'),

] -%}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbarCollapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{url_for('indexBP.indexView')}}" class="navbar-brand">Project title</a>
        </div>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
            {% if session['token'] %}
                <li {% if request.endpoint == 'indexBP.indexView' %} class='active' {% endif %}>
                    <a href="{{url_for('indexBP.indexView')}}"><i class="fa fa-home"></i> Home</a>
                </li>

                {% for authList, class, span, title in parentNav %}
                <li>
                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"><i class="fa {{class}}"></i> {{title}} <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        {% for authList2, view, header, parent, class in childNav %}
                            {% if parent == title %}
                            <li {% if request.endpoint == view %} class='active' {% endif %}>
                                <a href="{{url_for(view)}}"><i class="fa {{class}}"></i> {{header}}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{session['email']}}&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('userBP.profileView')}}">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{{url_for('authBP.logoutView')}}">Log out</a></li>
                    </ul>
                </li>
            </ul>

            {% else %}

                <li {% if request.endpoint == 'indexBP.indexView' %} class='active' {% endif %}>
                    <a href="{{url_for('indexBP.indexView')}}">Home</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li {% if request.endpoint == 'authBP.registerView' %} class='active' {% endif %}>
                    <a href="{{url_for('authBP.registerView')}}">Register account</a>
                </li>
                <li {% if request.endpoint == 'authBP.loginView' %} class='active' {% endif %}>
                    <a href="{{url_for('authBP.loginView')}}">Log in</a>
                </li>

            </ul>

            {% endif %}




        </div>
    </div>
</nav>
