{% extends "base.html" %}

{% block breadCrumb %}
    <li><a href="{{url_for('riskBP.riskView')}}">Risk</a></li>
{% endblock %}

{% block pageContent %}
<div class="col col-sm-12 col-md-5 col-lg-4 col-xl-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{contentTitle|safe}}</h1>
        </div>
        <div class="panel-body">
            {% if details == True %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Title</td>
                        <td>{{detailsData['title']}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{detailsData['desc']}}</td>
                    </tr>
                    <tr>
                        <td>Impact</td>
                        <td>{{detailsData['impact'].value}}</td>
                    </tr>
                    <tr>
                        <td>Probability</td>
                        <td>{{detailsData['probability'].value}}</td>
                    </tr>
                    <tr>
                        <td>Risk Area</td>
                        <td>{{detailsData['riskArea'].title}}</td>
                    </tr>
                    <tr>
                        <td>Risk Type</td>
                        <td>{{detailsData['riskType'].title}}</td>
                    </tr>
                    <tr>
                        <td>owner</td>
                        <td>
                            {{detailsData['riskOwner'].name}}<br>
                            {{detailsData['riskOwner'].email}}
                        </td>
                    </tr>
                    <tr>
                        <td>Created By</td>
                        <td>
                            {% if createdUser['user'] %}
                            {{createdUser['user']['name']}}<br>
                            {{createdUser['user']['email']}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Created Date</td>
                        <td>
                            {% if detailsData['created'] %}
                            {{detailsData['created'].strftime('%Y-%m-%d')}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Modified By</td>
                        <td>
                            {% if modifiedUser['user'] %}
                            {{modifiedUser['user']['name']}}<br>
                            {{modifiedUser['user']['email']}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Modified Date</td>
                        <td>
                            {% if detailsData['modified'] %}
                            {{detailsData['modified'].strftime('%Y-%m-%d')}}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            {% else %}
            <form method="post" name="treatmentForm" id="treatmentForm">
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class_='form-control ')}}
                    {% for error in form.title.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.desc.label }}
                    {{ form.desc(class_='form-control')}}
                    {% for error in form.desc.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.impact.label }}
                    {{ form.impact(class_='form-control')}}
                    {% for error in form.impact.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.probability.label }}
                    {{ form.probability(class_='form-control')}}
                    {% for error in form.probability.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.riskArea.label }}
                    {{ form.riskArea(class_='form-control')}}
                    {% for error in form.riskArea.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.riskType.label }}
                    {{ form.riskType(class_='form-control')}}
                    {% for error in form.riskType.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.owner.label }}
                    {{ form.owner(class_='form-control')}}
                    {% for error in form.owner.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </div>

                {% if submitStay == False %}
                {% else %}
                <div style="float:left;">
                    {{ form.submitStay(class='btn btn-info') }}
                </div>
                {% endif %}
                <div style="float:right;">
                    {{ form.csrf_token }}
                    <a href="{{url_for('treatmentBP.treatmentView')}}">Cancel</a> &nbsp
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
